<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">
  
<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1 class="color">This is great</h1>
    <p>Welcome to templating using EJS</p>
    <h2>Variable</h2>
    <ul>
      <% mascots.forEach((mascot, index) => { %>
        <li>
          <%= index + 1 %>
          <strong><%= mascot.name %></strong>
          representing <%= mascot.organization %>,
          born <%= mascot.birth_year %>
        </li>
      <% }) %>
    </ul>
    <!-- table -->
    <table class="table">
      <thead>
          <tr>
              <th scope="col" id="long">No.</th>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">Email</th>
              <th scope="col"colspan="2" >Action</th>
          </tr>
      </thead>
      <tbody>
          <% users.forEach((user, index) => { %>
          <tr>
              <th scope="row"><%= index +1 %></th>
                  <td id=""><%= user.name %></td>
                  <td><%= user.address %></td>
                  <td><%= user.email %></td>
                  <td>
                      <a class="btn btn-primary" href="/user/<%= user.id %>" role="button">detail</a>
                      <a class="btn btn-primary" href="/user/<%= user.id %>/edit" role="button">Edit</a>
                      <a class="btn btn-secondary ms-2"  role="button">Delete</a>
                  </td>
          </tr>
          <% }) %>
      </tbody>
  </table>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>